<% if (certifications.length) { %>
  <% for (let i = 0; i < certifications.length; i += 3) { %> 
    <section class="content">

      <% if (typeof user !== "undefined" && user.role === "admin") { %>
        <div class="position-absolute top-0 end-0 p-3 d-flex gap-2">
          <button class="custom-btn add-btn" data-bs-toggle="modal" data-bs-target="#modalCertificationAjout">
            ➕
          </button>
        </div>
      <% } %>

      <div class="col-md-12 text-center">
        <h1 class="section-h1">Mes certifications</h1>
        <div class="horizontal_line"></div>

        <ul class="list-unstyled diplomes-list">
          <% certifications.slice(i, i + 3).forEach(function(certification) { %>  
            <li class="card custom-card mb-3">
              <div class="d-flex align-items-center">
                <img src="<%= certification.image_path %>" alt="Image du diplôme" class="diplome-image">
                <div class="certification-details card-text">
                  <p><strong>Titre :</strong> <%= certification.titre %></p>
                  <p><strong>Organisme :</strong> <%= certification.delivrepar %></p>
                  <p><strong>Année d'obtention :</strong> <%= certification.annee_obtention.toLocaleString('fr-FR', { month: 'long' }) %> <%= certification.annee_obtention.getFullYear() %>  </p>
                </div>
                <% if (typeof user !== "undefined" && user.role === "admin") { %>
                  <div class="position-absolute top-0 end-0 p-3 d-flex gap-2">
                    <!-- Bouton Modifier -->
                    <button class="custom-btn edit-btn" 
                            data-bs-toggle="modal" 
                            data-bs-target="#modalCertificationModifier"
                            data-id="<%= certification.id %>"
                            data-titre="<%= certification.titre %>"
                            data-delivrepar="<% certification.delivrepar %>"
                            data-annee="<%= certification.annee_obtention %>"
                            data-image="<%= certification.image_path %>">
                        📝
                    </button>
            
                    <!-- Bouton Supprimer -->
                    <button class="custom-btn delete-btn" 
                            data-bs-toggle="modal" 
                            data-bs-target="#modalCertificationSupprimer"
                            data-id="<%= certification.id %>"
                            data-titre="<%= certification.titre %>">
                        ❌
                    </button>
                  </div>
                <% } %>
              </div>
            </li>
          <% }); %>
        </ul>
      </div>
    </section>
  <% } %>
<% } else { %>
  <section class="content">
    <% if (typeof user !== "undefined" && user.role === "admin") { %>
      <div class="position-absolute top-0 end-0 p-3 d-flex gap-2">
        <!-- Bouton Ajouter lorsqu'il n'y a aucun projet -->
        <button class="custom-btn add-btn" data-bs-toggle="modal" data-bs-target="#modalCertificationAjout">
          ➕
        </button>
      </div>
    <% } %>
    
    <div class="col-md-12 text-center">
      <h1 class="section-h1">Aucune certification trouvée</h1>
      <img src="https://res.cloudinary.com/portfolio-hezuko/image/upload/v1740308748/nothing-here.webp" 
           class="img-fluid" style="max-width: 80%; height: auto;">
    </div>
  </section>
<% } %>

<%- include('forms/certification-ajout-modif-suppresion') %>
