<% if (etudes.length > 0) { %> 
  <% etudes.forEach(function(etude) { %>
    <section class="content">

      <% if (typeof user !== "undefined" && user.role === "admin") { %>
        <div class="position-absolute top-0 end-0 p-3 d-flex gap-2">
          <a href="/etudes/ajouter" class="custom-btn add-btn">
              ➕
          </a>
          <a href="/etudes/modifier/<%= etude.id %>" class="custom-btn edit-btn">
              📝
          </a>
          <form action="/etudes/supprimer/<%= etude.id %>" method="POST" class="d-inline">
              <button type="submit" class="custom-btn delete-btn" 
                      onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette étude ?');">
                  ❌
              </button>
          </form>
        </div>
      <% } %>

      <div class="col-md-12 text-center">
        <div class="d-flex align-items-center">
          <img src="<%= etude.iconpath %>" alt="Logo de l'école" class="diplome-image custom-image">
          <h1 class="section-h1">
            <%= etude.titre %> - 
            <%= new Date(etude.date_debut).getFullYear() %> - 
            <%= new Date(etude.date_fin).getFullYear() %>
          </h1>
        </div>
        <div class="horizontal_line"></div>
        <div class="d-flex align-items-center">
          <p class="description-text"><%= etude.description %></p>
        </div>
      </div>
    </section>
  <% }); %>
<% } else { %>
  <section class="content">

    <% if (typeof user !== "undefined" && user.role === "admin") { %>
      <div class="position-absolute top-0 end-0 p-3 d-flex gap-2">
        <a href="/etudes/ajouter" class="custom-btn add-btn">
          ➕ 
        </a>
      </div>
    <% } %>
    
    <div class="col-md-12 text-center">
      <div class="d-flex flex-column align-items-center">
          <h1 class="section-h1">Aucune étude trouvée</h1>
          <img src="https://res.cloudinary.com/portfolio-hezuko/image/upload/v1740308748/nothing-here.webp" 
               class="img-fluid" style="max-width: 50%; height: auto;">
      </div>
    </div>
  </section>
<% } %>
